<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sección 005D</ion-card-title>
      <ion-card-subtitle>Lenguaje</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="generarQR('005D')" expand="full"  >Marcar Asistencia</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
