ion-card-title, ion-card-subtitle{
    text-align: center;
}

ion-grid{
    border-collapse: collapse;
}

ion-row{
    border-bottom: 1px solid #3a49e6;
    padding: 10px 0;
}

ion-col{
    text-align: center;
}

ion-button{
    margin-top: 10px ;
}

