<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    <div class="login-container">
      <div class="login-title">Cambiar Contraseña</div>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <ion-item class="input-item">
          <ion-label position="stacked">RUT</ion-label>
          <ion-input formControlName="rut" placeholder="Ingresa RUT" minlength="9" maxlength="9"></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('rut')?.invalid && loginForm.get('rut')?.touched" class="error-message">
          Error: RUT inválido
        </div>

        <ion-item class="input-item">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Ingresa Contraseña" maxlength="6"></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          Error: Contraseña inválida
        </div>

        <ion-button expand="block" type="submit" class="login-button">Aceptar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
